.album_category {
    display: flex;
    justify-content: space-between;
}

.album_heading {
    color: white;
    text-align: left;
}

.display_songs {
    display: flex;
    flex-wrap: wrap;
}

.show_btn {
    color: green;
    font-size: 1.5rem;
    cursor: pointer;
}